h1.title {
    text-align: center;
    color: wheat;
}

h1.counter {
    text-align: center;
    color: orange
}

div.half{
    display: inline-block;
    width: 50%;
    text-align: center;
}

input {
    width: 40%;
    text-align: center;
}

button {
    width: 40%;
    height: 30px;
    background-color: white;
    border: none;
}

button.add {
    background-color: lightgreen;
}

button.sub {
    background-color: #ff5555;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    background-color: #393939;
}